.jumbotron {
  background-color:rgb(241, 78, 78);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  
  
}


body {
  background-color:white;
}
.card {
  min-width: 30%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  margin: 0.5em;
  margin-top: 30px;
  border: 1px solid darkgray;
  box-shadow: 3px 3px 5px;
}
.card-header {
  text-align: left;
  background-color:rgb(60, 60, 231);
  color: white;

}

.card-body {
  font-size: 0.8em;
  background-color: whitesmoke;
}

i {
  margin-right: 0.5em;
}

.fa-mug-hot {
  color: white;
}

.fa-glasses {
  color: white;
}
.fa-user-graduate {
  color: white;
}